<div>
  <mat-card class="card">
    <h1>Create a New Book</h1>
    <form
      [formGroup]="createBookForm"
      (ngSubmit)="createBookSubmit()"
      class="form"
    >
      <mat-form-field [color]="title?.valid && 'accent'">
        <input
          matInput
          formControlName="title"
          type="text"
          placeholder="Title"
          autocomplete="off"
        />

        <mat-error *ngIf="title?.invalid && title?.dirty">
          Enter title for book
        </mat-error>
      </mat-form-field>

      <mat-form-field [color]="author?.valid && 'accent'">
        <input
          matInput
          formControlName="author"
          type="text"
          placeholder="author"
          autocomplete="off"
        />

        <mat-error *ngIf="author?.invalid && author?.dirty">
          Enter author for book
        </mat-error>
      </mat-form-field>

      <mat-form-field [color]="description?.valid && 'accent'">
        <input
          matInput
          formControlName="description"
          type="text"
          placeholder="description"
          autocomplete="off"
        />

        <mat-error *ngIf="description?.invalid && description?.dirty">
          Description should be less than 200 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field [color]="price?.valid && 'accent'">
        <input
          matInput
          formControlName="price"
          type="text"
          placeholder="Price in Rupees"
          autocomplete="off"
        />

        <mat-error *ngIf="price?.invalid && price?.dirty">
          Enter price for book
        </mat-error>
      </mat-form-field>

      <input type="file" (change)="uploadFile($event)" />
      <div>{{ uploadPercent | async }}</div>

      <img
        *ngIf="imgUrl.length !== 0"
        [src]="imgUrl"
        height="100"
        width="100"
      />

      <mat-error class="server-error">{{ serverMessage }}</mat-error>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="createBookForm.invalid || loading || imgUrl.length === 0"
      >
        Create Book
      </button>
    </form>
  </mat-card>
</div>

<h1>User Requests</h1>
<div *ngFor="let user of users_filtered">
  <h2>{{ user?.email }}</h2>
  <div class="book-container">
    <div *ngFor="let book of user?.books" class="container">
      <img [src]="book.book.imageUrl" />
      <div class="content">
        <p class="title">{{ book.book.title }}</p>
        <p class="author">{{ book.book.author }}</p>
        <p class="description">{{ book.book.description }}</p>
        <div class="footer">
          <p class="price">
            {{ book.book.price }}
          </p>
          <button
            [disabled]="loading"
            color="accent"
            mat-raised-button
            (click)="allowIssue(book.issueId, user)"
          >
            Allow
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
