<div *ngIf="user">
  <h1>Books Currently In Process</h1>
  <div class="book-container">
    <div *ngFor="let book of waiting_books" class="container">
      <img [src]="book.book.imageUrl" />
      <div class="content">
        <p class="title">{{ book.book.title }}</p>
        <p class="author">{{ book.book.author }}</p>
        <p class="description">{{ book.book.description }}</p>
        <div class="footer">
          <p class="price">
            {{ book.book.price }}
          </p>
          <button
            [disabled]="loading"
            color="accent"
            mat-raised-button
            (click)="removeBook(book.issueId)"
          >
            Remove Book
          </button>
        </div>
      </div>
    </div>
  </div>

  <h1>Issued Books</h1>
  <div class="book-container">
    <div *ngFor="let book of issued_books" class="container">
      <img [src]="book.book.imageUrl" />
      <div class="content">
        <p class="title">{{ book.book.title }}</p>
        <p class="author">{{ book.book.author }}</p>
        <p class="description">{{ book.book.description }}</p>
        <div class="footer">
          <p class="price">
            {{ book.book.price }}
          </p>
          <button
            [disabled]="loading"
            color="accent"
            mat-raised-button
            (click)="removeBook(book.issueId)"
          >
            Remove Book
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
